.sidebar-container {
    width: 70px;
    height: 100%;
    background-color: rgb(10, 14, 32);
    transition: 0.5s;
}

.sidebar-broad {
    width: 250px;
    transition: 1s;
}

.sidebar-container li {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 2px;
    font-size: 20px;
    border-bottom: 1px solid rgb(54, 54, 54);
    color: rgb(188, 215, 226);;
}


.sidebar-container .menu-btn .icon {
    background-color: #293241;
    cursor: pointer;
}
.sidebar-container .menu-btn .icon:hover {
    background-color: #024267;
}

.sidebar-container .item:hover {
    opacity: 0.7;
}

.sidebar-container li .icon {
    display: inline-flex;
    text-align: center;
    margin: 5px 0;
    margin-left: 3px;
    font-size: 40px;
    background-color: #171515;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.sidebar-container .logout-btn{
    cursor: pointer;
    padding: 0 10px;
    padding-top: 5px;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px 0;
    margin-left: 10px;

}
.sidebar-container .logout-btn:hover {
    opacity: 0.7;
}