.userbooks-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(231, 235, 237);
}

.userbooks-container .content .page-tag{
    margin-left: 20px;
    margin-top: 20px;
}

.userbooks-container main {
    display: flex;
    flex-grow: 1;
}

.userbooks-container .content {
    width: 100%;
    height: 100%;
}

.userbooks-container .content .options {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;

}

.userbooks-container .content .options button {
    cursor: pointer;
    font-size: 30px;
    padding: 5px 20px;
    display: inline-flex;
    border: none;
    outline: none;
    background-color: rgb(33, 29, 29);
    border-radius: 8px;
}

.userbooks-container .content .options button:hover {
    opacity: 0.9;
}

.userbooks-container .forms {
    height: 575px;
    padding: auto;
}